{% extends 'paginas/modelo.html'%}
{% load static %}

{% block conteudo%}
<h3>Lista de Usuarios cadastrados</h3>
<a href="{% url 'cadastrar-Usuario'%}" class="btn btn-primary btn-sm">Adicionar Usuario</a>
<div class="table-responsive">

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Nascimento</th>
        <th>Opções</th>
    </tr>
    {% for estado in object_list %}
    <tr>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.nascimento}}</td>
        <td>{{usuario.email}}</td>
        <td>
            
            <a href="{% url 'atualizar-Usuario'Usuario.pk %}"class="btn btn-warning-btn sm"title="Editar">E</a>
            <a href="{% url 'deletar-Usuario' Usuario.pk %}"class="btn btn-danger-btn sm" title="Excluir">x</a>

        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum usuario cadastrado!</td>
    </tr>
    
    {% endfor %}
</table>
</div>
{% endblock %}