{% extends 'paginas/modelo.html'%}
{% load static %}

{% block conteudo%}
<h3>Lista de Produtos cadastrados</h3>
<a href="{% url 'cadastrar-Produto'%}" class="btn btn-primary btn-sm">Adicionar Produto</a>
<div class="table-responsive">

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Nascimento</th>
            <th>Opções</th>
        </tr>
        {% for p in object_list %}
        <tr>
            <td>{{p.nome}}</td>
            <td>{{p.preco}}</td>
            <td>{{p.identificacao}}</td>
            <td>

                <a href="{% url 'atualizar-Produto' p.pk %}" class="btn btn-warning-btn sm" title="Editar">E</a>
                <a href="{% url 'deletar-Produto' p.pk %}" class="btn btn-danger-btn sm" title="Excluir">x</a>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum produto cadastrado!</td>
        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}